.account-card {
  border: 1px solid rgb(117 112 112 / 9%);
  border-radius: 10px;
  overflow: hidden;
  padding: 0px;
}

.account-card-header {
  display: flex;
  justify-content: space-between;
}

.account-card-heading {
  margin: 0px 8px;
}

.account-card-btn {
  background-color: transparent;
  color: black;
  cursor: pointer;
  border: none;
  height: 100%;
  margin: 0px 3px;
}

.account-card-text {
  margin: 15px 8px;
}

.account-info-label {
  font-weight: bold;
}