* {
  box-sizing: border-box;
}

main {
  background-color: rgb(117 112 112 / 9%);
  min-height: 500px;
}

.page-header {
  align-items: center;
  background-color: blueviolet;
  display: flex;
  height: 80px;
}

.header-title {
  margin: 0px 20px;
  font-size: 40px;
  color: white;
}

.nav-button-container {
  margin: 0px 0px 0px 10px;
  display: flex;
  height: 100%;
  overflow: scroll;
}

.nav-button {
  background-color: blueviolet;
  border: none;
  color: white;
  font-size: 25px;
  margin: 0px;
  height: 100%;
  width: 150px;
}

.nav-button:hover {
  background-color: rgb(255 255 255);
  color: blueviolet;
}

.project-info-container {
  background-color: rgb(255 255 255 / 44%);
  height: 370px;
}