.account-dashboard-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
}

.add-account-btn {
  border: 1px solid rgb(117 112 112 / 9%);
  border-radius: 10px;
  color: rgb(117 112 112 / 40%);
  cursor: pointer;
  font-size: 75px;
}

.add-account-btn:hover {
  border: 1px solid rgb(117 112 112 / 19%);
  color: rgb(117 112 112 / 50%);
}