.expense-edit-form {
  background-color: white;
  border: 1px solid rgb(117 112 112 / 9%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0px 40%;
  padding: 10px;
}

.form-labels {
  margin: 10px 0px 5px;
}

.submit-change-btn {
  margin: 10px 0px;
}